@font-face {
    font-family: cocFont;
    src: url(coc.ttf);
}

* {
    margin: 0;
    padding: 0;
    font-family: cocFont;
}

body {
    background-color: white;
}

.wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
}

.builder-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.build-text {
    color: white;
    -webkit-text-stroke: 0.5px black;
    text-shadow: 0px 3px 0px black; 
}

.build-text p {
    margin-top: 20px;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 75px;
    visibility: visible;
    transition: ease 0.1s;
}

.close-container {
    visibility: hidden;
    transform: translate(-50%, -50%) scale(0);
}

.message-pop {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    visibility: hidden;
    transition: ease 0.1s;
}

.open-message {
    visibility: visible;
    transform: translate(-50%, -50%) scale(1);
}

.message-box {
    border-radius: 15px;
    border: 5px solid #48463F;
    width: 350px;
    padding: 10px;
    background: #EFEBE7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.message-box .message {
    color: white;
    -webkit-text-stroke: 0.5px black;
    text-shadow: 0px 2px 0px black;
    font-size: 23px;
    text-align: center;
}

.message-box p {
    color: black;
    margin-top: 20px;
    font-size: 11px;
}

.message-box .ok-btn {
    background-image: linear-gradient(to top, #63B210, #CEEB6B);
    border-radius: 8px;
    border: 1px solid rgb(33, 31, 31);
    -webkit-text-stroke: 0.5px black;
    text-shadow: 0px 2px 0px black;
    color: white;
    outline: none;
    margin-top: 25px;  
    width: 70px;
    height: 40px;
    padding: 10px 20px;
    transition: ease 0.1s;
}

.message-box .ok-btn:active {
    transform: scale(0.9);
    background-image: linear-gradient(to top, #71c714, #dfff77);
}

.desc {
    width: 400px;
    margin-top: 20px;
}

.desc p {
    color: black;
    font-size: 10px;
    text-align: center;
}

#text {
    color: white;
    -webkit-text-stroke: 0.5px black;
    text-shadow: 0px 3px 0px black;
    font-size: 35px;
}

.register {
    margin-top: 15px;
}

.register button {
    color: white;
    -webkit-text-stroke: 1px black;
    text-shadow: 0px 3px 0px black;
    background: transparent;
    width: 300px;
    height: 70px;
    border: none;
    padding: 20px;
    transition: ease 0.1s;
}

.register span {
    font-size: 30px;
    transition: ease 0.1s;
}

.register span:active {
    font-size: 28px;
}

.form {
    background: #EFEBE7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    border-radius: 15px;
    border: 5px solid #48463F;
    padding: 10px;
    box-shadow: 0px 0px 30px 1px rgba(0, 0, 0, 0.2);
    transition: ease 0.1s;
}

.user-inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.user-inputs input {
    width: 80%;
    margin: 11px;
    padding: 6px;
    border-radius: 8px;
    outline: none;
    border: 2px solid #48463F;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5) inset;
    font-size: 10px;
}

.picture img{
    text-align: center;
    width: 220px;
    margin-top: -200px;
}

.buttons {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.buttons .login-btn {
    color: white;
    text-shadow: 0px 2px 0px black;
    -webkit-text-stroke: 0.5px black;
    background-image: linear-gradient(to top, #63B210, #CEEB6B);
    border-radius: 8px;
    border: 1px solid rgb(33, 31, 31);
    outline: none;
    width: 68px;
    height: 35px;
    margin: 12px;
    font-size: 12px;
    cursor: pointer;
    transition: ease 0.1s;
}

.buttons .cancel-btn {
    color: white;
    text-shadow: 0px 2px 0px black;
    -webkit-text-stroke: 0.5px black;
    background-image: linear-gradient(to top, #CE3810, #F7BA6B);
    border-radius: 8px;
    border: 1px solid rgb(33, 31, 31);
    outline: none;
    width: 68px;
    height: 35px;
    margin: 12px;
    font-size: 12px;
    cursor: pointer;
    transition: ease 0.1s;
}

.buttons .login-btn:active {
    transform: scale(0.9);
    background-image: linear-gradient(to top, #71c714, #dfff77);
} 

.buttons .cancel-btn:active {
    transform: scale(0.9);
    background-image: linear-gradient(to top, #f44515, #ffc06f);
}   
